@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background: #0d0f1b;
  font-family: "Poppins", sans-serif;
}

*::selection {
  background: #6c00ff;
  color: #fff;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-track {
  background: #1b1f38;
}
html::-webkit-scrollbar-thumb {
  background: #6c00ff;
}

/* pre loader start */
.loader-container {
  background: #10122b;
}
/* pre loader end */

/* navbar starts */
header {
  background-color: #0f1124;
  box-shadow: 0 1px 4px rgba(108, 0, 255, 0.3);
}
header .logo {
  color: #00f5ff;
}
header .logo:hover {
  color: #6c00ff;
}
header .navbar ul li a {
  color: #00f5ff;
}
header .navbar ul li a.active,
header .navbar ul li a:hover {
  color: #6c00ff;
  border-bottom: 0.2rem solid #6c00ff;
}
/* navbar ends */

/* botones */
.home .btn,
.resumebtn .btn,
.morebtn .btn,
.button-area button {
  background: #6c00ff;
  box-shadow: 0px 5px 18px rgba(108, 0, 255, 0.6);
}
.home .btn:hover,
.resumebtn .btn:hover,
.morebtn .btn:hover,
.button-area button:hover {
  background: #4b009e;
}

/* fondo de secciones */
.skills {
  background: linear-gradient(to bottom, #1b1f38, #0d0f1b);
}
.work {
  background: linear-gradient(to bottom, #0d0f1b, #00002c);
}
.education {
  background: #15172f;
}
.contact {
  background: #15172f;
}

/* títulos */
.heading {
  color: #00f5ff;
}
.heading span {
  color: #6c00ff;
}

/* iconos sociales */
.social-icons a {
  color: #6c00ff;
  background-color: #1b1f38;
}
.social-icons a:hover {
  background-color: #00f5ff;
}

/* footer */
.footer {
  background: #0b0d21;
}
.footer .box-container .box h3 {
  color: #00f5ff;
}
.footer .box-container .box p,
.footer .box-container .box a {
  color: #b0b3d6;
}
.footer .box-container .box a:hover {
  color: #6c00ff;
}

/* scroll top */
#scroll-top {
  background: #6c00ff;
  color: #00f5ff;
}
